<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <div th:insert="fragments/bootstrap_includes :: includes"></div>
    <link rel="stylesheet" th:href="@{styles/styles.css}">

    <title>Order</title>

</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>

<form method="POST" th:action="@{/orders}" th:object="${order.clientData}" style="width:40%; margin: auto; padding-top: 100px">
    <div class="row mb-3">
        <label for="firstName" class="col-sm-2 col-form-label">First name</label>
        <div class="col-sm-10">
            <input type="text" th:field="*{firstName}" class="form-control" id="firstName">
        </div>
        <span class="validationError"
          th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name error</span>
        <br/>
    </div>
    <div class="row mb-3">
        <label for="secondName" class="col-sm-2 col-form-label">Second name</label>
        <div class="col-sm-10">
            <input type="text" th:field="*{secondName}" class="form-control" id="secondName">
        </div>
        <span class="validationError"
              th:if="${#fields.hasErrors('secondName')}" th:errors="*{secondName}">Second name error</span>
        <br/>
    </div>
    <div class="row mb-3">
        <label for="streetName" class="col-sm-2 col-form-label">Street name</label>
        <div class="col-sm-10">
            <input type="text" th:field="*{streetName}" class="form-control" id="streetName">
        </div>
        <span class="validationError"
              th:if="${#fields.hasErrors('streetName')}" th:errors="*{streetName}">Street name error</span>
        <br/>
    </div>
    <div class="row mb-3">
        <label for="cityName" class="col-sm-2 col-form-label">City name</label>
        <div class="col-sm-10">
            <input type="text" th:field="*{cityName}" class="form-control" id="cityName">
        </div>
        <span class="validationError"
              th:if="${#fields.hasErrors('cityName')}" th:errors="*{cityName}">City name error</span>
        <br/>
    </div>
    <div class="row mb-3">
        <label for="stateName" class="col-sm-2 col-form-label">State name</label>
        <div class="col-sm-10">
            <input type="text" th:field="*{stateName}" class="form-control" id="stateName">
        </div>
        <span class="validationError"
              th:if="${#fields.hasErrors('stateName')}" th:errors="*{stateName}">State name error</span>
        <br/>
    </div>

    <button type="submit" class="btn btn-primary" style="display: block; margin: 0 auto; width: 30%">order</button>
</form>
</body>
</html>