<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <div th:insert="fragments/bootstrap_includes :: includes"></div>
    <title>Products</title>

</head>
<body>

<div th:insert="fragments/navbar :: navbar"></div>

<!--    <div th:each="product : ${products}">-->
<!--        <div class="card mb-3 mx-auto" style="width: 26rem;margin-top: 50px">-->
<!--            <img src="..." class="card-img-top" alt="...">-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title" th:text="${product.fullName}">name</h5>-->
<!--                <p class="card-text" th:text="${product.shortDescription}">short description}</p>-->
<!--                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--                <a href="products.html" th:href="@{/products/{id}(id = ${product.id})}">Show details</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Sort by
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" th:href="@{/products(page=${products.number}, sortBy=fullName, sortDir=ASC)}">name alphabetical</a></li>
        <li><a class="dropdown-item" th:href="@{/products(page=${products.number}, sortBy=fullName, sortDir=DESC)}">name reverse alphabetical</a></li>
        <li><a class="dropdown-item" th:href="@{/products(page=${products.number}, sortBy=price, sortDir=ASC)}">price ascending</a></li>
        <li><a class="dropdown-item"th:href="@{/products(page=${products.number}, sortBy=price, sortDir=DESC)}">price descending</a></li>
    </ul>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
        <div th:each="product : ${products}">
            <div class="col">
            <div class="card">
                <img th:src="@{'/images/' + ${product.imagePath}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.fullName}">name</h5>
                    <p class="card-text" th:text="${product.shortDescription}">short description}</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a href="products.html" th:href="@{/products/{id}(id = ${product.id})}">Show details</a>
                </div>
            </div>
        </div>
    </div>
</div>

<nav aria-label="...">
    <ul class="pagination">
    <div th:if="${products.totalPages > 0}"
         th:each="pageNumber : ${pageNums}">
            <li class="page-item" th:classappend="${pageNumber==products.number} ? active">
                <a th:href="@{/products(page=${pageNumber}, sortBy=${sortBy}, sortDir=${sortDir})}"
                   th:text=${pageNumber}
                   class="page-link">
                </a>
            </li>
    </div>
    </ul>
</nav>

<!--<div th:if="${products.totalPages > 0}" class="pagination"-->
<!--     th:each="pageNumber : ${pageNums}">-->
<!--    <a th:href="@{/products(page=${pageNumber})}"-->
<!--       th:text=${pageNumber}-->
<!--       th:class="${pageNumber==products.number + 1} ? active"></a>-->
<!--</div>-->

</body>
</html>