<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:insert="fragments/bootstrap_includes :: includes"></div>
    <title>Title</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:if="${not #lists.isEmpty(session.shoppingCart)}">
<div style="padding-top: 200px; text-align: center;">
    <div class="shadow p-3 mb-5 bg-body rounded" style="max-width: 800px; margin: 0 auto;">
        <h2 style="margin-bottom: 40px; padding-top: 30px;">Your shopping cart</h2>
                <table class="table table-striped table-hover" style="width:80%; margin: auto; padding-top: 100px">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Seller</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div th:each="product, iter : ${session.shoppingCart}">
                            <tr>
                                <th scope="col" th:text="${iter.index}">#</th>
                                <th scope="col" th:text="${product.id}">product id</th>
                                <th scope="col" th:text="${product.fullName}">name</th>
                                <th scope="col" th:text="${product.seller.username}">seller</th>
                                <th scope="col" th:text="${product.price}">price</th>
                            </tr>
                        </div>
                    </tbody>
                </table>
                <div style="margin: 0 auto; padding-top: 30px">
                    <form method="GET" th:action="@{/orders}">
                        <button type="submit" class="btn btn-primary mb-3" style="display: block; margin: 0 auto;">Place
                            an
                            order</button>
                    </form>
                </div>
            </div>
    </div>
</div>

<span th:unless="${not #lists.isEmpty(session.shoppingCart)}">
    <div style="text-align: center; padding-top: 150px; font-size: 200%;">
        <p>No products in cart</p>
        <p><a class="btn btn-primary" th:href="@{/products}">Show products</a></p>
    </div>
</span>


</body>
</html>