<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
        crossorigin="anonymous">
</head>
<body>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/products">Products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/orders/cart">My Cart</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">Customer Service</a>
  </li>
</ul>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Seller</th>
    <th scope="col">Price</th>
  </tr>
  </thead>
  <tbody>
     <div th:each="product, iter : ${session.shoppingCart}">
      <tr>
          <th scope="col" th:text="${iter.index}">#</th>
          <th scope="col" th:text="${product.id}">product id</th>
          <th scope="col" th:text="${product.fullName}">name</th>
          <th scope="col" th:text="${product.sellerDetails.companyName}">short description}</th>
          <th scope="col" th:text="${product.price}">price</th>
      </tr>
    </div>
  </tbody>
</table>

  <form method="GET" th:action="@{/orders}">
    <input type="submit" name="addOrder" value="addOrder"/>
  </form>

</body>
</html>