<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:insert="fragments/bootstrap_includes :: includes"></div>
    <title th:text="orders"></title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<p>ordered products</p>
<div th:each="order, iter : ${orders}">
    <table class="table table-striped table-hover" style="width:40%; margin: auto; padding-top: 100px">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
    <tbody>
        <div th:each="product, iter : ${order.products}">
            <tr>
                <td th:text="${iter.index}">#</td>
                <td th:text="${product.id}">product id</td>
                <td th:text="${product.fullName}">name</td>
                <td th:text="${product.sellerDetails.companyName}">short description}</td>
                <td th:text="${product.price}">price</td>
            </tr>
        </div>
    </tbody>
    </table>
</div>

<p>offered products</p>

<table class="table table-striped table-hover" style="width:40%; margin: auto; padding-top: 100px"><thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
    </tr>
    <tbody>
        <div th:each="offer, iter : ${offers}">
            <tr>
                <td th:text="${iter.index}">#</td>
                <td th:text="${offer.id}">product id</td>
                <td th:text="${offer.fullName}">name</td>
                <td th:text="${offer.price}">price</td>
            </tr>
        </div>
    </tbody>
</table>
</body>
</html>