<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:insert="fragments/bootstrap_includes :: includes"></div>
    <title th:text="orders"></title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:if="${not #lists.isEmpty(orders)}">
<div style="text-align: center; margin-top: 100px;">
    <div class="shadow p-3 mb-5 bg-body rounded" style="max-width: 800px; margin: 0 auto;">
        <h3>Your ordered products</h3>
        <div th:each="order, iter : ${orders}">
            <table class="table table-striped table-hover" style="width:80%; margin: auto; padding-top: 100px">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Seller</th>
                    <th scope="col">Price</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="product, iter : ${order.products}">
                    <tr>
                        <td th:text="${iter.index}">#</td>
                        <td th:text="${product.id}">product id</td>
                        <td th:text="${product.fullName}">name</td>
                        <td th:text="${product.seller.username}">short description</td>
                        <td th:text="${product.price}">price</td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<div th:unless="${not #lists.isEmpty(orders)}">
    <div style="text-align: center; padding-top: 150px; font-size: 200%;">
        <p>You dont have any orders</p>
        <p><a class="btn btn-primary" th:href="@{/products}">Show products</a></p>
    </div>
</div>

<div th:if="${not #lists.isEmpty(offers)}">
<div style="text-align: center; margin-top: 200px;">
    <div class="shadow p-3 mb-5 bg-body rounded" style="max-width: 800px; margin: 0 auto;">
        <h3>Your offered products</h3>
        <table class="table table-striped table-hover" style="width:80%; margin: auto; padding-top: 100px">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
            <tbody>
            <div th:each="offer, iter : ${offers}">
                <tr>
                    <td th:text="${iter.index}">#</td>
                    <td th:text="${offer.id}">product id</td>
                    <td th:text="${offer.fullName}">name</td>
                    <td th:text="${offer.price}">price</td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>
</div>
</div>

<div th:unless="${not #lists.isEmpty(offers)}">
    <div style="text-align: center; padding-top: 150px; font-size: 200%;">
        <p>You dont sell any products</p>
        <p><a class="btn btn-primary" th:href="@{/products/new}">Create an offer</a></p>
    </div>
</div>

</body>
</body>
</html>